# the analysis
ans   SUSY3L

#skim, Full or Limited, comment for disabling it
//skim	Full

#optional
//nmax	10000
nskip	0

#analysis specific variables
var     pairMass        off     // ossf lepton pair on or off Z mass peak
var     selectTaus      false   // specity whether taus should be selected as leptons or not
var     baselineRegion  BR0     // specify set of cuts for baseline region (currently only BR0)
var     signalRegion    SR00    // specify signal region 

#folder in data to find the files
dir skims	

#tree name
tree	tree

#histo counter
histo Count


#Drell-Yan
ds DYJetsToLL_M50_HT100to200 dir:
ds DYJetsToLL_M50_HT200to400 dir: 
ds DYJetsToLL_M50_HT400to600 dir:  
ds DYJetsToLL_M50_HT600toInf dir:  
#rare
#ds GGHZZ4L dir: 
#top
ds TBarToLeptons_sch dir: 
ds TBarToLeptons_tch dir: 
ds TBar_tWch dir: 
ds TTH dir: 
ds TTJets dir: 
ds TToLeptons_sch dir:
ds TToLeptons_tch dir:
ds T_tWch dir: 
#TTW
ds TTWJets dir: 
#TTZ
ds TTZJets dir:
#W+Jets
ds WJetsToLNu_HT100to200 dir:
ds WJetsToLNu_HT200to400 dir:
ds WJetsToLNu_HT400to600 dir:
ds WJetsToLNu_HT600toInf dir:
#WZ
ds WZJetsTo3LNu dir: 
#ZZ
ds ZZTo4L dir: 
#signal
ds SMS_T1tttt_2J_mGl1200_mLSP800 dir:
ds SMS_T1tttt_2J_mGl1500_mLSP100 dir:
ds T5ttttDeg_mGo1000_mStop300_mCh285_mChi280_dil dir:
ds T5ttttDeg_mGo1000_mStop300_mCh285_mChi280 dir:
ds T5qqqqWWDeg_mGo1000_mCh315_mChi300_dilep dir:
ds T5qqqqWW_mGo1200_mCh1000_mChi800_dilep dir:

























