*.[a,o,pdf,png,pyc,root,so,swo,swp]
*/*.[a,o,pdf,png,pyc,root,so,swo,swp]
*/*/*.[a,o,pdf,png,pyc,root,so,swo,swp]
*/*/*/*.[a,o,pdf,png,pyc,root,so,swo,swp]
*/*/*_dict_*
analysis/bin/analysis
analysis/lib
display/lib
tools/lib
workdir
